<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>1000</integer>
				<key>selspeed</key>
				<integer>1000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>1000</integer>
				<key>selspeed</key>
				<integer>1000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro1,1</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>1000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>1000</integer>
				<key>selspeed</key>
				<integer>1000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>1000</integer>
				<key>selspeed</key>
				<integer>1000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro1,2</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>1000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro2,2</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro2,1</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro3,1</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro4,1</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro5,1</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Left Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Right Fan</string>
				<key>Maxspeed</key>
				<integer>6000</integer>
				<key>Minspeed</key>
				<integer>2000</integer>
				<key>selspeed</key>
				<integer>2000</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookPro5,2</string>
		<key>Maxspeed</key>
		<integer>6000</integer>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1500</integer>
				<key>selspeed</key>
				<integer>1500</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBook1,1</string>
		<key>Maxspeed</key>
		<string>6200</string>
		<key>Minspeed</key>
		<integer>1500</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1800</integer>
				<key>selspeed</key>
				<integer>1800</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBook2,1</string>
		<key>Maxspeed</key>
		<string>6200</string>
		<key>Minspeed</key>
		<integer>1800</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1800</integer>
				<key>selspeed</key>
				<integer>1800</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBook3,1</string>
		<key>Maxspeed</key>
		<string>6200</string>
		<key>Minspeed</key>
		<integer>1800</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1800</integer>
				<key>selspeed</key>
				<integer>1800</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBook4,1</string>
		<key>Maxspeed</key>
		<string>6200</string>
		<key>Minspeed</key>
		<integer>1800</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1800</integer>
				<key>selspeed</key>
				<integer>1800</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBook5,1</string>
		<key>Maxspeed</key>
		<string>6000</string>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1800</integer>
				<key>selspeed</key>
				<integer>1800</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBook5,2</string>
		<key>Maxspeed</key>
		<string>6200</string>
		<key>Minspeed</key>
		<integer>1800</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1800</integer>
				<key>selspeed</key>
				<integer>1800</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookAir1,1</string>
		<key>Maxspeed</key>
		<string>6200</string>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>6200</integer>
				<key>Minspeed</key>
				<integer>1800</integer>
				<key>selspeed</key>
				<integer>1800</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacBookAir2,1</string>
		<key>Maxspeed</key>
		<string>6200</string>
		<key>Minspeed</key>
		<integer>2000</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>5500</integer>
				<key>Minspeed</key>
				<integer>1500</integer>
				<key>selspeed</key>
				<integer>1500</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacMini1,1</string>
		<key>Maxspeed</key>
		<string>5500</string>
		<key>Minspeed</key>
		<integer>1500</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>5500</integer>
				<key>Minspeed</key>
				<integer>1500</integer>
				<key>selspeed</key>
				<integer>1500</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacMini2,1</string>
		<key>Maxspeed</key>
		<string>5500</string>
		<key>Minspeed</key>
		<integer>1500</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>MainFan</string>
				<key>Maxspeed</key>
				<integer>5500</integer>
				<key>Minspeed</key>
				<integer>1500</integer>
				<key>selspeed</key>
				<integer>1500</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacMini3,1</string>
		<key>Maxspeed</key>
		<string>5500</string>
		<key>Minspeed</key>
		<integer>1500</integer>
		<key>NumFans</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Fans</key>
		<array>
			<dict>
				<key>Description</key>
				<string>CPU Fan</string>
				<key>Maxspeed</key>
				<integer>2900</integer>
				<key>Minspeed</key>
				<integer>500</integer>
				<key>selspeed</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>PCIe/HDD Fan</string>
				<key>Maxspeed</key>
				<integer>2900</integer>
				<key>Minspeed</key>
				<integer>500</integer>
				<key>selspeed</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Rear Fan</string>
				<key>Maxspeed</key>
				<integer>2900</integer>
				<key>Minspeed</key>
				<integer>500</integer>
				<key>selspeed</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>Description</key>
				<string>Power Supply Fan</string>
				<key>Maxspeed</key>
				<integer>2800</integer>
				<key>Minspeed</key>
				<integer>600</integer>
				<key>selspeed</key>
				<integer>600</integer>
			</dict>
		</array>
		<key>Machine</key>
		<string>MacPro1,1</string>
		<key>Maxspeed</key>
		<integer>2900</integer>
		<key>Minspeed</key>
		<integer>500</integer>
		<key>NumFans</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
